# Bytecode files
*.class

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.launch

# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle specific files
.gradle/
build/

# Eclipse specific files
.settings/
.classpath
.project
.metadata/

# NetBeans specific files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Intellij specific files
out/
